
* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #fff;
    padding-top: 13vh;
}

.column_wide {
display: flex;
    flex-wrap: wrap;

}

.column_narrow {
 display: flex;
    flex-wrap: wrap;

}


#forside_main, #om_main, #kontakt_main {

    display: flex;
    flex-wrap: wrap;
    margin-top: -107px;
}

/********************************** NAVIGATION ********************************/

nav {
      display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}


.burger {
    display: none;
}
.burger div {
    background-color: #FFF9F0;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all .3s ease;
}
ul {

  padding: 0;
  list-style: none;
  display: table;
  width: 600px;
  text-align: center;
}
li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}

.logo-nav a:after {
display: none;
}

.logo-nav img {
border-radius: 100px;
    margin-right: 216px;
}

/********************************** NAV ANIMATION ********************************/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/***************************************** MEDIA Q ********************************/
/******************** NAV ***************/
@media screen and (max-width:1250px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width:1024px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 40vh;
        top: 17vh;
        background: #ccaba3;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }

    .nav-links li {
        opacity: 0;
        /* skal benyttes */
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%) !important;
        opacity: 95%;
        z-index: 1;
    }





}










/***************************************** FORSIDE I MOBILVERSION********************************/


#forside_oversigt {
margin-top: 193px;
}

/*
.tips_wide {
 background-image: url("rundny_png.png");
      background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height:300px;
  width: 300px;
    margin-top: 50px;
}
*/




.citat {
text-align: center;
}



.forside_knap {
background-color: #ccaba2;
        width: 27%;
    border-radius: 17px;
    position: relative;
    left: 35%;
margin-top: 30px;
    text-align: center;
}


.forside_collage img{
    width: 100%;
    height: 100%;
    margin-top: 30px;
        padding: 30px;
}


.forside_tekst {


    padding: 30px;
}



.tips_billede img {
width: 50%;
 height: 50%;
     display: block;
  margin-left: auto;
  margin-right: auto;

}

.tips_tekst {
text-align: center;
        margin-bottom: 25px;
    margin-top: 9px;

}


.tips_overskrift {
margin-bottom: 20px;
      position: relative;
    left: 37%;
}





.insta_billede img {
   width: 50%;
 height: 50%;
     display: block;
  margin-left: auto;
  margin-right: auto;
}


.insta_tekst {

    margin-bottom: 20px;
      position: relative;
    left: 25%;
    margin-top: 60px;
}


.videohead
{
/*margin: 5px 0 0 1px;*/

}

.logo
{

    margin-top: -175px;
    width: 103%;
    margin-left: -19px;

}


video {
margin-top: -140px;
    width: 100%;
}





   .forside_knap {
background-color: #ccaba2;
        width: 30%;
    border-radius: 17px;
    position: relative;
    left: 35%;
margin-top: 30px;
    text-align: center;

}










@media (min-width:800px) {

    .forside_knap {

        width: 10%;
        left: 45%;
}


    .forside_collage img{
/*  intet endnu*/

}

   .forside_tekst {

width: 60%;
}



  .column_wide {
display: flex;
    flex-wrap: nowrap;

}



    .tips_wide {

    display: flex;
    flex-wrap: wrap;
    }


    .tips_narrow {
    display: flex;
    }

    .insta_billede img {
    width: 5%;
    }

/*
    .insta_narrow {
    display: flex;
    flex-wrap: nowrap;
    }
*/


    .box {
/*    virker ikke i web lige nu??!!*/
    top: 282px;

    }








}










/************************PILE ***********************/

.box {
    position: absolute;
    top: 282px;
    left: 50%;
    transform: translate(-50%, -50%);


}

.box span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    animation: animate 2s infinite;
    margin: -10px;


}

.box span:nth-child(2) {
    animation-delay: -0.2s;

}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }

}







/************************FOOTER ***********************/

#footer {
    color: white;
}



#footer .sectionwrapper {
    background-color: #a3826f;
    opacity: 72%;
    padding: 40px 20px 40px 20px;
    margin-top: 45px;
}



#footer .col {
    padding: 0px;
    width: 100%;
}



#footer .txt,
#footer .txt2 {
    margin-top: 10px;
}






#footer .tele,
#footer .mail {
    margin-top: 10px;
}



/*** Information ***/
#footer .overskrift {
    margin-top: 20px;
}



#footer .txt {
    margin-bottom: 20px;
}



/**MEDIAQUERY**/
@media (min-width:800px) {



    #footer .col {
        flex-grow: 1;
        flex-basis: 100px;
        margin-right: 20px;
    }



    #footer .col:first-child {
        flex-grow: 1;
        margin-left: 20px;
        margin-right: 60px;
    }



    @media (min-width:800px) {
        #footer .overskrift {
            margin-top: 0px;
        }
    }


    .sectionwrapper {
        display: flex;
        Flex-wrap: wrap;
    }










}




 /************************OM SIDE ***********************/

    /*** Kontaktformular ***/
#footer .bottom {
    margin-top: 20px;
    margin-bottom: 20px;
}



#footer .navn,
#footer .email,
#footer .besked {
    background-color: #ffffff;
    color: #b5b0a6;
    margin-bottom: 5px;
    padding: 10px;
}



#footer .send {
    background-color: #29487d;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    padding: 10px;

}



    /************************ kontakt ***********************/

    /*** Kontaktformular ***/
    #footer .bottom {
        margin-top: 20px;
        margin-bottom: 20px;
    }



    .navn,
    .email,
    .besked {
        background-color: #ffffff;
        color: #b5b0a6;
        margin-bottom: 5px;
        padding: 10px;
    }



    .send {
        background-color: #29487d;
        color: #ffffff;
        text-align: center;
        margin-top: 10px;
        padding: 10px;

    }

    /************************ kontakt slut ***********************/

    /************************ om ***********************/


    .om_splash img {

        width: 100vw;
        height: auto;

    }


    .billede_om img {

  width: 10%;
 height: 10%;
     display: block;
  margin-left: auto;
  margin-right: auto;
    }



